<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MDC Robotics Reporting System</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

        html, body{
            font-family: 'Roboto', sans-serif;
            margin: 0;
        }   
    </style>
</head>
<body>
    <h1>Welcome to MDC Robotics reporting system</h1>
    <ul>
        <li><a href="<%= address %>/new-user">new user</a></li>
        <li><a href="<%= address %>/post-report">file daily report</a></li>
        <li><a href="<%= address %>/records">report records</a></li>
    </ul>
</body>
</html>